<!DOCTYPE html>
<html lang="en" ng-app="toDoApp">
  <head>
    <meta charset="utf-8">
    <title>TomTom Angular</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="controllers.js"></script>
    <script src="factories.js"></script>
  </head>
  <body>
    <div ng-controller="ToDoController as ctrl">
      <input type="text" ng-model="newTask">
      <button type="button" ng-click="ctrl.addToDo(newTask)">Add a TomDo</button>
      <p ng-repeat="todo in ctrl.todos">
        {{ todo.task }}: {{todo.completed ? "" : "not "}}completed
        <a href="" ng-click="ctrl.deleteToDo($index)">Delete</a>
      </p>
    </div>
  </body>
</html>
